
<!--Section: Features v.4-->
<section>

    <!--Section heading-->
    <h1 class="py-5 font-weight-bold text-center">Weapons in my Arsenal</h1>
    <!--Section description-->
    <!-- <p class="px-5 mb-5 pb-3 lead grey-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam.</p> -->

    <!--Grid row-->
    <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-rocket deep-purple-text"></i>
            <!-- <img src="https://png.icons8.com/windows/1600/java-coffee-cup-logo.png" alt="java" class="fa"> -->
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Java</h5>
            <!-- <p class="grey-text">I am</p> -->
            <ul class="grey-text">
              <li> Spring Boot </li>
              <li> Developed Rest Api's </li>
              <li> Micro Services </li>
              <li> JPA </li>
            </ul>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->

        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-scribd deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Scripting</h5>
            <ul class="grey-text">
              <li> Experienced in writing bash scripts </li>
              <li> Automating mundane tasks with scripting </li>
              <!-- <li> Devepoled live graphs. </li> -->
              <!-- <li>  </li> -->
            </ul>
        </div>
        </div>



        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-bar-chart deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Data Visualization</h5>
            <ul class="grey-text">
              <li> Experienced on working with D3 </li>
              <li> Developed numerious Chart / Graphs </li>
              <!-- <li> Devepoled live graphs. </li> -->
              <li> Good Experinece in visualising Network Topology. </li>
            </ul>
        </div>
        </div>
        <!--Grid row-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 d-flex justify-content-center align-items-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0tHJW9Xtp50X4G5Aab9ZpsDw6f4HoB_STIpRBb-NjB9BdXvz3" alt="" class="z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

        <!--Grid row-->

        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-heart deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Angular</h5>
            <ul class="grey-text">
              <li> Experienced on Angular 4 and lower version (1.5.8). </li>
              <li> Angular Material. </li>
              <li> Developed Angular application from scratch. </li>
            </ul>
        </div>
        </div>

        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-database deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Database</h5>
            <ul class="grey-text">
              <li> MySql </li>
              <li> Postgres </li>
              <!-- <li> Devepoled live graphs. </li> -->
              <li> Elastic Search </li>
            </ul>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-github deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Version Control</h5>
            <ul class="grey-text">
              <li> Good Knowledge of GIT </li>
              <li> GITHUB </li>
              <!-- <li> Devepoled live graphs. </li> -->
              <!-- <li>  </li> -->
            </ul>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <!--Grid row-->

    </div>
    <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Section: Features v.4-->
