
<!--Footer-->
<footer class="page-footer font-small indigo pt-0">

    <!--Footer Links-->
    <div class="container">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12 py-5">

                <div class="mb-5 flex-center text-center">

                    Swing by for a cup of coffee, or leave me a note on
                    <br>ajinkya.c.dhote@gmail.com
                    <!-- <br> Visit my lindedin profile <a href="https://www.linkedin.com/in/ajinkyadhote/"> here </a> -->
                    <!--Linkedin-->
                    <!-- <a class="li-ic">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a> -->

                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="http://ajinkyadhote.in/"> ajinkyadhote.in </a>
        <img src="http://simplehitcounter.com/hit.php?uid=2361797&f=16777215&b=0" border="0" height="18" width="83" alt="web counter">
    </div>
    <!-- Start of SimpleHitCounter Code -->
<!-- <div align="right"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2361797&f=16777215&b=0" border="0" height="18" width="83" alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;"></a></div> -->
<!-- this script got from www.javascriptfreecode.com-Coded by: Krishna Eydat -->

<!-- End of SimpleHitCounter Code -->

    <!--/Copyright-->

</footer>
<!--/Footer-->
