<!--Section: Blog v.1-->
<section class="py-4 text-center text-lg-left">

    <!--Section heading-->
    <h1 class="h1 font-weight-bold text-center mb-5 pt-4">About Me</h1>
    <!--Section description-->
    <p class="text-center mb-5 pb-3"> I Ajinkya Dhote, an Mtech Graduate from Nirma University, Ahmedabad with Specialization in Information and Network Security. Currently working with Winsoft Technologies India Pvt Ltd. An earnest technolgy freak, having a good command over programming and builts software for users productivity. Passionate about Calligraphy and Painting. Friends reckon me as true and honest.</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-4 my-4">
          <h4 class="font-weight-bold text-green text-center mb-4">
            <i class="fa fa-institution"></i> Work Experience </h4>

          <img src=".../../assets/images/work.jpg" alt="workplace"
              class="img-fluid rounded z-depth-2 my-4">


            <!--Featured image-->
            <!-- <div class="view overlay rounded z-depth-2"> -->
                <!-- <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image for first version of blog listing"
                    class="img-fluid"> -->
                <!-- <a>
                    <div class="mask rgba-white-slight">bxbxcbxbxbzsxbz</div>
                </a> -->
            <!-- </div> -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 my-4">
            <a href="" class="text-green">
                <h6 class="font-weight-bold pb-1">
                    <i class="fa fa-institution"></i> Experience</h6>
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>Winsoft Technologies</strong><br>
                <small class="text-muted">Oct 2016 - Present</small>
            </h3>
            <div class="card">
                <ul class="card-text text-left py-2">
                  <li>Developed REST Api’s using SpringBoot. </li>
                  <li>Developed Components, Directives and Services using Angular. </li>
                  <li>Developed various visualizations usingD3. </li>
                  <li>Experienced in developing Angular4 project from scratch. </li>
                  <li>Developed shell scripts. </li>
                  <li>Version Management using GIT. </li>
              </ul>
            </div>
        </div>

        <div class="col-md-4 my-4">
            <a href="" class="text-green">
                <h6 class="font-weight-bold pb-1">
                    <i class="fa fa-institution"></i> Experience</h6>
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>STMicroElectronics</strong><br>
                <small class="text-muted">June. 2015-June. 2016  - 1 year</small>
            </h3>
            <div class="card">
                <ul class="card-text text-left py-2">
                  <li>Worked for BUSINESS PLATFORM AND ADMINISTRATION TOOL team (TRnD) </li>
                  <li>Implemented RestFull Web-services to carry out various tasks. </li>
                  <li>Improved Parsing of XML Documents by implementing VTD-XML. </li>
                  <li>Developed various VBA macro’s in excel. </li>
                  <li>Writing Automation scripts in bash shell.</li>
                  <!-- <li>Writing verification test cases.</li> -->
                  <!-- <li>Developed shell scripts. </li>
                  <li>Version Management usingGIT. </li> -->
              </ul>
            </div>
        </div>

    </div>
    <!--Grid row-->



    <!--Grid row-->
    <!--Grid row-->

    <!-- <hr class="mb-5 mt-4 pb-3"> -->



</section>
