
 <!--Projects section v.3-->
 <section>

    <!--Section heading-->
    <h2 class="text-center h1 my-5">
        <strong>Achivements and Certifications</strong>
    </h2>
    <!--Section description-->
    <p class="px-xl-5 text-center grey-text mb-5">Here are some achivements and certifications which I have had achived throughout my carrer. </p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">

            <!--Image-->
            <!-- <img src="https://mdbootstrap.com/img/Photos/Others/images/83.jpg" alt="Achivements" class="img-fluid rounded z-depth-1"> -->
            <img src="../../assets/images/certificate.jpg" alt="Achivements" class="img-fluid rounded z-depth-1">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">

            <!--Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-star fa-2x cyan-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Star Performer</h5>
                    <p class="grey-text">I got the badge of Star Performer at Winsoft Technologies for remarkable exhibition of result orientation, passion for excellence and significant contribustion at work.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-code fa-2x red-text"></i>
                </div>
                <div class="col-10 ">
                    <h5 class="font-weight-bold">Technical Head at Face-IT</h5>
                    <p class="grey-text">I was responsible for implementing the state of the art technical facilities for the events which are carried out. With help of my team members we built website to represent our forum, built a system for conducting online exams which played a vital role in scrutinizing the right candidates.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-2">
                    <i class="fa fa-stack-overflow fa-2x deep-purple-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Active Member on StackOverflow</h5>
                    <p class="grey-text">We all know how usefull is stackoverflow at times and I belive in returing back the favour to all comunity members by answering their queries and doubts. As of present I am having a reputaion of <strong>{{me.reputation}} points </strong> with <strong>{{me.gold === 0 ? '': me.gold + ' golds,'}} {{me.silver === 0 ? '': me.silver +  ' silver'}} and {{me.bronze === 0 ? '': me.bronze +  ' bronze'}} badges</strong>. </p>
                </div>
            </div>
            <!--/Grid row-->
            <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-bar-chart fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold"> Deep Learning Specialization</h5>
                    <p class="grey-text"> I finished a Specialization in Deep Learning offered by deeplearning.ai on Coursera in 2018</p>
                </div>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row pt-5">

        <!--Grid column-->
        <div class="col-lg-6 col-xl-7 mb-3">

            <!--Grid row-->
            <!-- <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-bar-chart fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold"> Deep Learning Specialization</h5>
                    <p class="grey-text"> I finished a Specialization in Deep Learning offered by deeplearning.ai on Coursera in 2018</p>
                </div>
            </div> -->
            <!--Grid row-->

            <!--Grid row-->
            <!-- <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-music fa-2x pink-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Entertainment</h5>
                    <p class="grey-text">, by deeplearning.ai on Coursera</p>
                </div>
            </div> -->
            <!--Grid row-->

            <!--Grid row-->
            <!-- <div class="row mb-3">
                <div class="col-1 mr-1">
                    <i class="fa fa-smile-o fa-2x blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold">Communication</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                        voluptate velit.</p>
                </div>
            </div> -->
            <!--/Grid row-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <!-- <div class="col-lg-6 col-xl-5 mb-3">

            <!--Image-->
            <!-- <img src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1"> -->

        <!-- </div> -->
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.3-->
